body {
        background: rgb(35, 36, 0);
        background: linear-gradient(90deg, rgba(35, 36, 0, 1) 0%, rgba(13, 245, 137, 1) 17%, rgba(0, 212, 255, 1) 100%);
}

h1,
h2,
p,
table {
        font-family: 'Roboto', sans-serif;
        text-align: justify;
}

h2 {
        font-size: larger;
        text-align: center;

}

h3 {
        font-size: 15px;
        text-align: left;
        font-family: 'Roboto', sans-serif;
}

img {
        width: 6rem;
        border-radius: 50%;
}

header {
        background-color: rgb(250, 235, 215, 0.3);
        border: 2px solid rgb(255, 255, 255);
        padding: 1rem;
        margin: 4rem;
        border-radius: 1REM;
}

#head {
        display: grid;
        grid-template-columns: 10rem 1fr;
        align-items: center;
}

#block {
        background-color: rgba(255, 255, 255, 0.1);
        padding-top: 1px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        margin-top: 2rem;
        text-align: center;
        border-radius: 1rem;
}

.Escolaridade,
.Cursos,
.Experiencias {
        position: relative;
        margin-top: 2rem;
        font-size: larger;
        text-align: center;

}

table {
        /* color: beige; */
        background-color: rgb(178, 220, 162, O.8);
        width: 100%;
        text-align: center;
}

tr,
th,
td {
        border-bottom: 1px solid #ddd;

}

td:hover {
        background-color: rgb(80, 138, 255);
}

.Whats {
        width: 4rem;
        position: fixed;
        bottom: 30px;
        right: 20px
}

.Whats:hover {
        width: 5rem;
        position: fixed;
        bottom: 30px;
        right: 20px
}

.Whats {
        -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
        animation: heartbeat 1.5s ease-in-out infinite both;
}

#footer {
        text-align: center;
}

@media screen and (max-width: 480px) {
        body {
                background: rgb(35, 36, 0);
                background: linear-gradient(90deg, rgba(35, 36, 0, 1) 0%, rgba(13, 245, 137, 1) 17%, rgba(0, 212, 255, 1) 100%);
        }

        header {
                margin: 0rem;
                border-radius: 0.5REM;
        }

        .Escolaridade,
        .Cursos,
        .Experiencias {
                font-size: 12px;

        }

        h1 {
                font-size: 17px;
        }

        p {
                font-size: 10px;
        }

        table {
                font-size: 10px;
        }

        h2 {
                font-size: 12px;
        }

        h3 {
                font-size: 11px;
        }

        img {
                width: 3rem;
                border-radius: 50%;
        }

        .Whats {
                width: 3rem;
                position: fixed;
                bottom: 30px;
                right: 20px
        }

        .Whats:hover {
                width: 4rem;
                position: fixed;
                bottom: 30px;
                right: 20px
        }
}

@media screen and (max-width: 800px) {
        header {
                margin: 0rem;
                border-radius: 0.5REM;
        }
}











/* ----------------------------------------------
 * Generated by Animista on 2023-10-16 21:49:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
        from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

@keyframes heartbeat {
        from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}